<div id="footer" class="container-fluid">
  <div class="container">
    <div class="row">
      <img src="../../assets/images/OASP_dark.png">
    </div>
    <br>
    <div class="row text-left">
      <div class="col-md-2 col-sm-2 hidden-xs-down">
        <p class="titulo"><b>Pages</b></p>
        <p>OASP</p>
        <p>OASPJ</p>
        <p>OASPJS</p>
        <p>OASP4NET</p>
        <p>More</p>
      </div>
      <div class="col-md-2 col-sm-2 hidden-xs-down">
        <p class="titulo"><b>Links</b></p>
        <p> <a href="wwww.devonfw.com">www.devonfw.com</a></p>
        <p> <a href="www.github.com">www.github.com</a></p>
        <p> <a href="#">www.ejemplo.com</a></p>
        <p> <a href="#">www.ejemplo.com</a></p>
        <p> <a href="#">www.ejemplo.com</a></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5 col-sm-5 col-12 text-xs-center">
        <p>© Capgemini 2017</p>
        <p class="destacado">This page is mantained by 
          Capgemini Germany APPS Evolve and Capgemini Spain</p>
      </div>
      <!--iconos-->
      <div class="col-md-4 col-sm-4 col-12 text-xs-center">
        <img src="../../assets/images/slideshare.png" class="icon">
        <img src="../../assets/images/facebook.png" class="icon">
        <img src="../../assets/images/twitter.png" class="icon">
        <img src="../../assets/images/linkedin.png" class="icon">
        <img src="../../assets/images/youtube.png" class="icon">
      </div>
      <div class="col-md-2 col-sm-2 col-12 text-center">
        <img src="../../assets/images/logo_capgemini_white.png" class="cap">
      </div>
    </div>
  </div>
</div>
