<div class="container-fluid oasp4j-container">
  <div class="row">
    <!-- Sidebar -->
    <div class="col-lg-3 col-md-4 sidebar-left">
      <div class="sidebar-nav">
        <ul class="sidebar-nav-list">
          <li class="dropdown">
            <h3>UI Framework</h3>
            <a href="Misc#misc-about">Misc</a>
            <ul class="dropdown-submenu">
              <li><a href="Misc#misc-about">About</a></li>
              <li><a href="Misc#misc-ngx-translate">ngx-translate</a></li>
              <li><a href="Misc#misc-ag-grid">ag-grid</a></li>
            </ul>
          </ul>
        </div>
      </div>
      <!-- Sidebar -->

      <div class="hidden-sm-down col-lg-9 col-md-8 col-sm-7 col-12 content-roadmap">
        <div class="margin-at-top"></div>
        <div class="roadmap" id="misc-about">
          <h1 class="road">About</h1>
          <div class="margin-at-left">
            <md-card>
              Mics
            </md-card>
            <div class="margin-at-top"></div>
          </div>
        </div>
        <div class="margin-at-left">
          <md-card>
            <div class="roadmap" id="misc-ngx-translate">
              <h1 class="road">ngx-translate</h1>
              <app-ngx-translate>ag-grid</app-ngx-translate>
            </div>
          </md-card>
          <div class="roadmap" id="misc-ag-grid">
            <h1 class="road">ag-grid</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
