<md-card>
  <h2 class="example-h2" id="basic-calender">Calender</h2>
    <div class="ui-g">
      <div class="ui-g-12 ui-md-4">
        <h3 class="sub-heading">Basic</h3>
        <p-calendar [(ngModel)]="date1"></p-calendar> {{date1|date}}
      </div>

      <div class="ui-g-12 ui-md-4">
        <h3 class="sub-heading">Spanish</h3>
        <p-calendar [(ngModel)]="date2" [locale]="es" dateFormat="dd/mm/yy"></p-calendar> {{date2|date}}
      </div>

      <div class="ui-g-12 ui-md-4">
        <h3 class="sub-heading">Icon</h3>
        <p-calendar [(ngModel)]="date3" [showIcon]="true"></p-calendar> <span style="margin-left:35px">{{date3|date}}</span>
      </div>
    </div>
  <div class="margin-at-top"></div>
</md-card>
