<div class="margin-at-left">
  <md-card>
    <section class="example-container">

      <h2>Example 1</h2>
      <div class="margin-at-top"></div>
      <md-sidenav-container class="example-sidenav-fab-container">
        <md-sidenav #sidenav mode="side" opened="true">
          <button md-mini-fab class="example-fab" (click)="sidenav.toggle()">
            <md-icon>add</md-icon>
          </button>
          <div class="example-scrolling-content">
            Lorem ipsum dolor sit amet, pede a libero aenean phasellus, lectus metus sint ut risus,
            fusce vel in pellentesque. Nisl rutrum etiam morbi consectetuer tempor magna, aenean nullam
            nunc id, neque vivamus interdum sociis nulla scelerisque sem, dolor id wisi turpis magna
            aliquam magna. Risus accumsan hac eget etiam donec sed, senectus erat mattis quam, tempor
            vel urna occaecat cras, metus urna augue nec at. Et morbi amet dui praesent, nec eu at,
            ligula ipsum dui sollicitudin, quis nisl massa viverra ligula, mauris fermentum orci arcu
            enim fringilla. Arcu erat nulla in aenean lacinia ullamcorper, urna ante nam et sagittis,
            tristique vehicula nibh ipsum vivamus, proin proin. Porta commodo nibh quis libero amet.
            Taciti dui, sapien consectetuer.
          </div>
        </md-sidenav>
        <button md-mini-fab class="example-fab" (click)="sidenav.toggle()">
          <md-icon>add</md-icon>
        </button>
        <div class="example-scrolling-content">
          Lorem ipsum dolor sit amet, pede a libero aenean phasellus, lectus metus sint ut risus, fusce
          vel in pellentesque. Nisl rutrum etiam morbi consectetuer tempor magna, aenean nullam nunc id,
          neque vivamus interdum sociis nulla scelerisque sem, dolor id wisi turpis magna aliquam magna.
          Risus accumsan hac eget etiam donec sed, senectus erat mattis quam, tempor vel urna occaecat
          cras, metus urna augue nec at. Et morbi amet dui praesent, nec eu at, ligula ipsum dui
          sollicitudin, quis nisl massa viverra ligula, mauris fermentum orci arcu enim fringilla. Arcu
          erat nulla in aenean lacinia ullamcorper, urna ante nam et sagittis, tristique vehicula nibh
          ipsum vivamus, proin proin. Porta commodo nibh quis libero amet. Taciti dui, sapien
          consectetuer.
        </div>
      </md-sidenav-container>

      <div class="margin-at-top"></div>

      <h2>Example 2</h2>
      <div class="margin-at-top"></div>
      <md-sidenav-container class="example-container">
        <md-sidenav #sidenav class="example-sidenav">
          SideNav Works!
        </md-sidenav>

        <div class="example-sidenav-content">
          <button md-button (click)="sidenav.open()">
            Click to Open sidenav
          </button>
        </div>
      </md-sidenav-container>

    </section>
  </md-card>
</div>
