@font-face{
     font-family: Montserrat-Medium;
     src: url("../../assets/fonts/Montserrat-Medium.ttf")
 }
#tryit{
    background: url("../../assets/images/img.png") center center no-repeat ;
    background-size: cover;

}
#tryit h2{
    margin-top: 20%;
}
#tryit p{
    margin-bottom:10%;
    margin-top: 2%;
}

#tryit  a:hover{
    color:blue;
    background-color: #FFFFFF
}
/**markdown styles**/
#tryit .markdown h2{ 
    color: #ffffff;
    font-family: Montserrat-Medium;
    font-size: 20pt;
}

#tryit .markdown a{
 
    color: #FFFFFF;
    background-color: transparent;
    border-color: #FFFFFF;
    border-top-color: #FFFFFF;
    border-right-color: #FFFFFF;
    border-bottom-color: #FFFFFF;
    border-left-color: #FFFFFF;
}

#tryit .markdown h2::after {
    display: none;
}
