<div id="tryit" class="container-fluid">
  <div class="container text-center">
    <div class="row">
      <div class="col-md-12">
        <br>
        <br><br><br><br><br>
        <h2>¿Why don't to try it?</h2>
        <br>
        <div [(ngModel)]="model" ngbRadioGroup name="radioBasic">
          <label class="btn btn-primary">
    <input type="radio" [value]="1"> Getting started
  </label>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
      </div>
    </div>
  </div>
</div>