@font-face{
     font-family: Montserrat-Medium;
     src: url("../../assets/fonts/Montserrat-Medium.ttf")
 }
#tryit{
    background: url("../../assets/images/img.png") center center no-repeat ;
    /*margin-left: 200px;*/
    background-size: cover;

}
h2{ 
    color: #ffffff;
    font-family: Montserrat-Medium;
    font-size: 20pt;

}
.btn-primary{
 
    color: #FFFFFF;
    background-color: transparent;
    border-color: #FFFFFF;
    border-top-color: #FFFFFF;
    border-right-color: #FFFFFF;
    border-bottom-color: #FFFFFF;
    border-left-color: #FFFFFF;
    padding-left: 40px;
    padding-right: 40px;
    padding-top:14px;
    padding-bottom: 14px;
    border-radius: 72px;
    font-size: 12pt; 
    font-size: 12pt;border-width: 2px;
    font-family: Montserrat-Regular;
    }

.btn-primary:hover{
    color:blue;
    background-color: #FFFFFF
}
