<div class="container-fluid oasp4j-container">
  <div class="row">
    <!-- Sidebar -->
    <div class="col-lg-3 col-md-4 sidebar-left">
      <div class="sidebar-nav">
        <ul class="sidebar-nav-list">
          <li class="dropdown">
            <a href="oasp4js#over-view">Overview</a>
            <ul class="dropdown-submenu">
              <li><a href="oasp4js#sample-application">Sample Application</a></li>
              <li><a href="oasp4js#app-template">Application template</a></li>
              <li><a href="oasp4js#ng-modules">Ng-modules</a></li>
            </ul>
            <li class="dropdown">
              <a href="oasp4js#get-start4js">Getting started</a>
            </li>
            <li class="dropdown">
              <a href="oasp4js#tl-go">Roadmap</a>
            </li>
        </ul>
      </div>
    </div>
    <!-- Sidebar -->

    <div class="hidden-sm-down col-lg-9 col-md-8 col-sm-7 col-12 content-roadmap">
      <div class="roadmap">
        <div class="markdown main-title">
          <markdown [path]="'../../assets/content/OASP4JS/header.md'"></markdown>
        </div>
        <h4 id="over-view">¡From developers to developers!</h4>
        <h1>Overview</h1>
        <div class="markdown over" id="sample-application">
          <markdown [path]="'../../assets/content/OASP4JS/overview/sample-app.md'"></markdown>
        </div>
        <div class="markdown over" id="app-template">
          <markdown [path]="'../../assets/content/OASP4JS/overview/app-template.md'"></markdown>
        </div>
        <div class="markdown over" id="ng-modules">
          <markdown [path]="'../../assets/content/OASP4JS/overview/ng-modules.md'"></markdown>
          <div id="get-start4js"></div>
        </div>

        <!--Getting started-->
        <div class="timeline col-lg-12  col-md-12 col-sm-6">
          <h1>Getting started</h1>
          <div class=" timeline-centered">
            <article class="timeline-entry">
              <div class="timeline-entry-inner">
                <div class="timeline-icon">
                  <i class="entypo-feather"></i> 1
                </div>
                <div class="timeline-label">
                  <div class="media">
                    <div class="media-left">
                      <a href="http://oasp-ci.cloudapp.net/oasp4j-sample/jsclient/">
                        <img class="d-flex align-self-start mr-3" src="../../assets/images/view_icon.png">
                      </a>
                    </div>
                    <div class="media-body">
                      <a href="http://oasp-ci.cloudapp.net/oasp4j-sample/jsclient/">
                        <p>View the demo</p>
                      </a>
                      <p class="description">There is currently one rather technical demo, simulating a few use cases of a restaurant management
                        application. Oasp sample application</p>
                    </div>
                  </div>
                </div>
              </div>
            </article>
            <article class="timeline-entry">
              <div class="timeline-entry-inner">
                <div class="timeline-icon">
                  <i class="entypo-feather"></i> 2
                </div>
                <div class="timeline-label">
                  <div class="media ">
                    <div class="media-left">
                      <a href="https://github.com/oasp/oasp4js/wiki/IDE-agnostic-setup">
                        <img class="d-flex align-self-start mr-3" src="../../assets/images/enviroment_icon.png">
                      </a>
                    </div>
                    <div class="media-body">
                      <a href="https://github.com/oasp/oasp4js/wiki/IDE-agnostic-setup">
                        <p>Setup the develop enviroment</p>
                      </a>
                      <p class="description">The OASP4js IDE setup guide will guide you how to get your AngularJs development environment up and
                        running.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </article>
            <article class="timeline-entry">
              <div class="timeline-entry-inner ">
                <div class="timeline-icon">
                  <i class="entypo-feather"></i> 3
                </div>
                <div class="timeline-label">
                  <div class="media ">
                    <div class="media-left">
                      <a href="http://github.com/oasp/oasp4js/">
                        <img class="d-flex align-self-start mr-3" src="../../assets/images/code_icon.png">
                      </a>
                    </div>
                    <div class="media-body">
                      <a href="http://github.com/oasp/oasp4js/">
                        <p>Get the code</p>
                      </a>
                      <p class="description">The code is hosted on Github, here is the OASP4js main repository .
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </article>
            <article class="timeline-entry">
              <div class="timeline-entry-inner">
                <div class="timeline-icon">
                  <i class="entypo-feather "></i> 4
                </div>
                <div class="timeline-label">
                  <div class="media ">
                    <div class="media-left">
                      <a href="https://github.com/oasp/oasp4js/wiki/Tutorial-Introduction">
                        <img class="d-flex align-self-start mr-3" src="../../assets/images/read_icon.png">
                      </a>
                    </div>
                    <div class="media-body">
                      <a href="https://github.com/oasp/oasp4js/wiki/Tutorial-Introduction">
                        <p>Read the tutorial</p>
                      </a>
                      <p class="description">Read and follow the tutorial at OASP4js Client Tutorial
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </article>
            <article class="timeline-entry">
              <div class="timeline-entry-inner">
                <div class="timeline-icon">
                  <i class="entypo-feather "></i> 5
                </div>
                <div class="timeline-label">
                  <div class="media ">
                    <div class="media-left">
                      <img class="d-flex align-self-start mr-3" src="../../assets/images/help_icon.png">
                    </div>
                    <div class="media-body" id="tl-go">
                      <p>Help making OASP even better</p>
                      <p class=" description ">Remember this is a joint effort and you are welcome to contribute.</p>
                    </div>
                  </div>
                </div>
              </div>
            </article>
          </div>
        </div>
        <h1 class="road">Roadmap</h1>
        <div class="markdown tl ">
          <markdown [path]=" '../../assets/content/OASP4JS/roadmap/Roadmap.md' "></markdown>
        </div>
      </div>
    </div>
  </div>
</div>

<!--version movil-->
<div class="container-fluid oasp4jsmvl ">
  <div class="row ">
    <div class="hidden-md-up ">
      <ngb-tabset type="pills " class="tabset4js ">
        <ngb-tab title="Overview ">
          <ng-template ngbTabContent>
            <div class="markdown over " id="sample-application ">
              <markdown [path]=" '../../assets/content/OASP4JS/overview/sample-app.md' "></markdown>
            </div>
            <div class="markdown over " id="app-template ">
              <markdown [path]=" '../../assets/content/OASP4JS/overview/app-template.md' "></markdown>
            </div>
            <div class="markdown over " id="ng-modules ">
              <markdown [path]=" '../../assets/content/OASP4JS/overview/ng-modules.md' "></markdown>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="Getting started ">
          <ng-template ngbTabContent>
            <div class="timeline col-12 ">
              <div class=" timeline-centered ">
                <article class="timeline-entry ">
                  <div class="timeline-entry-inner ">
                    <div class="timeline-icon ">
                      <i class="entypo-feather "></i> 1
                    </div>
                    <div class="timeline-label ">
                      <div class="media">
                        <div class="media-left">
                          <a href="http://oasp-ci.cloudapp.net/oasp4j-sample/jsclient/">
                            <img class="d-flex align-self-start mr-3" src="../../assets/images/view_icon.png">
                          </a>
                        </div>
                        <div class="media-body">
                          <a href="http://oasp-ci.cloudapp.net/oasp4j-sample/jsclient/">
                            <p>View the demo</p>
                          </a>
                          <p class="description">There is currently one rather technical demo, simulating a few use cases of a restaurant management
                            application. Oasp sample application</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </article>
                <article class="timeline-entry ">
                  <div class="timeline-entry-inner ">
                    <div class="timeline-icon ">
                      <i class="entypo-feather "></i> 3
                    </div>
                    <div class="timeline-label ">
                      <div class="media ">
                        <div class="media-left">
                          <a href="https://github.com/oasp/oasp4js/wiki/IDE-agnostic-setup">
                            <img class="d-flex align-self-start mr-3" src="../../assets/images/enviroment_icon.png">
                          </a>
                        </div>
                        <div class="media-body">
                          <a href="https://github.com/oasp/oasp4js/wiki/IDE-agnostic-setup">
                            <p>Setup the develop enviroment</p>
                          </a>
                          <p class="description">The OASP4js IDE setup guide will guide you how to get your AngularJs development environment up
                            and running.
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </article>
                <article class="timeline-entry ">
                  <div class="timeline-entry-inner ">
                    <div class="timeline-icon ">
                      <i class="entypo-feather "></i> 4
                    </div>
                    <div class="timeline-label ">
                      <div class="media ">
                        <div class="media-left">
                          <a href="http://github.com/oasp/oasp4js/">
                            <img class="d-flex align-self-start mr-3" src="../../assets/images/code_icon.png">
                          </a>
                        </div>
                        <div class="media-body">
                          <a href="http://github.com/oasp/oasp4js/">
                            <p>Get the code</p>
                          </a>
                          <p class="description">The code is hosted on Github, here is the OASP4js main repository .
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </article>
                <article class="timeline-entry">
                  <div class="timeline-entry-inner">
                    <div class="timeline-icon">
                      <i class="entypo-feather "></i> 4
                    </div>
                    <div class="timeline-label">
                      <div class="media ">
                        <div class="media-left">
                          <a href="https://github.com/oasp/oasp4js/wiki/Tutorial-Introduction">
                            <img class="d-flex align-self-start mr-3" src="../../assets/images/read_icon.png">
                          </a>
                        </div>
                        <div class="media-body">
                          <a href="https://github.com/oasp/oasp4js/wiki/Tutorial-Introduction">
                            <p>Read the tutorial</p>
                          </a>
                          <p class="description">Read and follow the tutorial at OASP4js Client Tutorial
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </article>
                <article class="timeline-entry ">
                  <div class="timeline-entry-inner ">
                    <div class="timeline-icon ">
                      <i class="entypo-feather "></i> 5
                    </div>
                    <div class="timeline-label ">
                      <div class="media ">
                        <div class="media-left ">
                          <img class="d-flex align-self-start mr-3 " src="../../assets/images/help_icon.png ">
                        </div>
                        <div class="media-body ">
                          <p>Help making OASP even better</p>
                          <p class="description ">Remember this is a joint effort and you are welcome to contribute.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </article>
              </div>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="Roadmap ">
          <ng-template ngbTabContent>
            <div class="markdown tl roadmap ">
              <markdown [path]=" '../../assets/content/OASP4JS/roadmap/Roadmap.md' "></markdown>
            </div>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
  </div>
</div>
