<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Collaboration & contribution</h4>
    <button class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="markdown markdown-left">
      <markdown [path]="'../../assets/content/OASP/collaboration-contribution-getinvolved.md'"></markdown>
    </div>
  </div>
  <div class="modal-footer">
    <button  class="btn btn-primary" (click)="c('Close click')">Close</button>
  </div>
</ng-template>

<button class="btn btn-primary" (click)="open(content)">Get involved</button>

<pre>{{closeResult}}</pre>
