 @font-face{
     font-family: Montserrat-Regular;
     src: url("../../assets/fonts/Montserrat-Regular.ttf")
 }
@font-face{
     font-family: Montserrat-Bold;
     src: url("../../assets/fonts/Montserrat-Bold.ttf")
 }
#universityActivities {
    background: url("../../assets/images/university.png") center center no-repeat ;
    background-color: white;
    background-size: contain;
    background-position-y: 180px;

}

.btn-primary{
    color: #4bbdec;
    background-color: transparent;
    border-color: #4bbdec;
    border-top-color: #4bbdec;
    border-right-color: #4bbdec;
    border-bottom-color: #4bbdec;
    border-left-color: #4bbdec;
    border-radius: 72px;
    margin-bottom: 100%;
    padding-left: 40px;
    padding-right:40px;
    padding-top:9px;
    padding-bottom:9px;
    }
    

    hr{
    margin-left: 230px;
    margin-right: 230px;
    background-color: #4bbdec;
    height: 3px;
}
h2{
    color:#585657;
    font-family: Montserrat-Regular;
    font-size: 20pt;
    font-weight: 500;
    margin-top: 25%;
}
p{
    color:#585657;
    font-family: Montserrat-Regular;
    font-size: 12pt;
    line-height: 14pt;
    padding-right: 50px;
    padding-left: 50px;



}