<div id="universityActivities" class="container-fluid">
  <div class="container text-center">
    <div class="row">
      <div class="col-md-3 col-sm-3"></div>
      <div class="col-md-6 col-sm-6">
        <h2>University activities</h2>
        <hr>
        <p class="text">OASP attracts students and university-teams to take advantage of OASP as open and simple CSD-platform that is close
          to the industry.</p>
        <div [(ngModel)]="model" ngbRadioGroup name="radioBasic">
          <label class="btn btn-primary">
    <input type="radio" [value]="1"> Learn more
  </label>
        </div>
      </div>
    </div>
  </div>
</div>