<div id="framework" class="container-fluid">
  <div class="container">
    <div class="row">
      <div class=" col-lg-6 col-md-12 col-sm-12 col-12 text-xs-center">
        <div class="markdown">
          <markdown [path]="'../../assets/content/OASP/framework.md'"></markdown>
        </div>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-4" style="text-align:center">
        <img class="mg-top10" src="../../assets/images/javascript_icon.png">
        <br>
        <br>
        <p class="javaScript"><b>JavaScript</b></p>
        <div name="radioBasic">
          <a class="btn btn-primary" href="oasp4js">
            More info
            </a>
        </div>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-4" style="text-align:center">
        <img cl src="../../assets/images/java_icon.png">
        <br>
        <br>
        <p class="java"><b>Java</b></p>
        <div name="radioBasic">
          <a class="btn btn-primary" href="oasp4j">
            More info
          </a>
        </div>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-4" style="text-align:center">
        <img cl src="../../assets/images/net_icon.png">
        <br>
        <br>
        <p class="net"><b>.NET</b></p>
        <div name="radioBasic">
          <a class="btn btn-primary" href="oasp4net">
              More info 
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
