<div id="framework" class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-4">
        <h1>Framework</h1>
        <hr>
        <p>
          It provides a complete reference implementation and IDE for your well architected, robus and modern web application.
        </p>
      </div>
      <div class="col-md-1 col-sm-1"></div>

      <div class="col-md-2 col-sm-2" style="margin-left: 43px;margin-top: 20px;">
        <img src="../../assets/images/javascript_icon.png">
        <br>
        <br>
        <p class="javaScript"><b>JavaScript</b></p>
      </div>
      <div class="col-md-2 col-sm-2"style="margin-top: 20px;">
        <img src="../../assets/images/java_icon.png">
        <br>
        <br>
        <p class="java"><b>Java</b></p>
      </div>
      <div class="col-md-2 col-sm-2"style="margin-top: 20px; padding-left:10px;">
        <img src="../../assets/images/net_icon.png" style="width:50%">
        <br>
        <br>
        <p class="net" style="margin-left:25px;"><b>.NET</b></p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-5 col-sm-5"></div>

      <div class="col-md-2 col-sm-2">
        <div [(ngModel)]="model" ngbRadioGroup name="radioBasic">
          <label class="btn btn-primary" >
          <input type="radio" [value]="1"> More info
      </label>
        </div>
      </div>
      <div class="col-md-2 col-sm-2">
        <div [(ngModel)]="model" ngbRadioGroup name="radioBasic">
          <label class="btn btn-primary">
          <input type="radio" [value]="1"> More info
      </label>
        </div>
      </div>
      <div class="col-md-2 col-sm-2">
        <div [(ngModel)]="model" ngbRadioGroup name="radioBasic">
          <label class="btn btn-primary">
          <input type="radio" [value]="1"> More info
      </label>
        </div>
      </div>
    </div>
  </div>
</div>