@font-face{
     font-family: montserrat-Regular;
     src: url("../../assets/fonts/Montserrat-Regular.ttf")  
    }
@font-face{
     font-family: Montserrat-Bold;
     src: url("../../assets/fonts/Montserrat-Bold.ttf")  
    }

#framework{
     background-image: url("../../assets/images/corte_2.png");
     background-size: contain;
     background-repeat: no-repeat;
     background-position-x: -200px;
     background-position-y: 200px;
}
h1{
    margin-top: 150px;
    font-size: 35pt;
    font-family: montserrat-Regular;
    font-weight: bold;
}

.btn-primary{
    color: #4bbdec;
    font-size: 12pt;
    font-family: Montserrat-regular;
    font-weight: 500;
    background-color: transparent;
    border-color: #4bbdec;
    border-top-color: #4bbdec;
    border-right-color: #4bbdec;
    border-bottom-color: #4bbdec;
    border-left-color: #4bbdec;
    border-radius: 72px;
    border-width: 2px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top:14px;
    padding-bottom: 14px;
    border-radius: 72px;
    font-size: 12pt; 
    font-size: 12pt;
    font-family: Montserrat-Regular;
    margin-bottom: 150px;
    }
img{
    width:auto;
    max-height:60px;
    margin-top: 170px;
}
p{
    font-size: 14pt;
    color: #9d9d9d;
    font-family: montserrat-Regular;
    font-weight: 100;
    line-height: 18pt;
    }
p.java{    
    color:#222c38;
    text-align: center;
}
p.javaScript{  
    color:#222c38;
}
p.net{    
    color:#222c38;
    text-align: center;

}
hr{
    background-color: #4BBDEC;
    height: 3px;
    margin-left: 0%;
    margin-right: 78%;
}


