<div id="framework" class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12 col-12 text-xs-center">
        <h1>Framework</h1>
        <hr>
        <p>
          It provides a complete reference implementation and IDE for your well architected, robust and modern web application.
        </p>
      </div>
      <div class="col-md-2 col-sm-4" style="text-align:center">
        <img src="../../assets/images/javascript_icon.png">
        <br>
        <br>
        <p class="javaScript"><b>JavaScript</b></p>
        <div [(ngModel)]="model" ngbRadioGroup name="radioBasic">
          <label class="btn btn-primary">
            <a href="http://oasp.github.io/oasp4js_content/oasp4js_overview.html">
                <input type="radio" [value]="1"> More info
            </a>
            </label>
        </div>
      </div>
      <div class="col-md-2 col-sm-4" style="text-align:center">
        <img src="../../assets/images/java_icon.png">
        <br>
        <br>
        <p class="java"><b>Java</b></p>
        <div [(ngModel)]="model" ngbRadioGroup name="radioBasic">
          <label class="btn btn-primary">
            <a href="http://oasp.github.io/oasp4j_content/oasp4j_overview.html">
                <input type="radio" [value]="1"> More info
            </a>
            </label>
        </div>
      </div>
      <div class="col-md-2 col-sm-4" style="text-align:center">
        <img src="../../assets/images/net_icon.png">
        <br>
        <br>
        <p class="net"><b>.NET</b></p>
        <div [(ngModel)]="model" ngbRadioGroup name="radioBasic">
          <label class="btn btn-primary">
                <a href="https://www.microsoft.com/net">
                <input type="radio" [value]="1"> More info 
                </a>
            </label>
        </div>
      </div>
    </div>
  </div>
</div>
