<div class="container-fluid oasp4j-container">
  <div class="row">

    <!-- Sidebar -->
    <div class="col-lg-3 col-md-4 sidebar-left">
      <div class="sidebar-nav">
        <ul class="sidebar-nav-list">
          <li class="dropdown">
            <h3>UI Framework</h3>
            <a href="MaterialDesign#md-about">PrimeNG</a>
            <ul class="dropdown-submenu">
              <li><a href="PrimeNG#primeng-about">About</a></li>
              <li><a href="PrimeNG#primeng-form-control">Form Controls</a></li>
              <li><a href="PrimeNG#primeng-button">Buttons</a></li>
              <li><a href="PrimeNG#primeng-menubar">Menubar</a></li>
              <li><a href="PrimeNG#primeng-data-grid">datatable</a></li>
            </ul>
          </ul>
        </div>
      </div>
      <!-- Sidebar -->

      <div class="hidden-sm-down col-lg-9 col-md-8 col-sm-7 col-12 content-roadmap">
        <div class="margin-at-top"></div>
        <div class="roadmap" id="primeng-about">
          <h1 class="road">About</h1>
          <div class="margin-at-left">
            <md-card>
              PrimeNG is a rich set of open source native Angular UI components.
            </md-card>
            <div class="margin-at-top"></div>
          </div>
        </div>
        <div class="roadmap" id="primeng-form-control">
          <h1 class="road">Form Controls</h1>
          <app-primeng-form-control></app-primeng-form-control>
        </div>
        <div class="roadmap" id="primeng-button">
          <h1 class="road">Button</h1>
          <app-primeng-button></app-primeng-button>
        </div>
        <div class="roadmap" id="primeng-menubar">
          <h1 class="road">Menubar</h1>
          <app-primeng-menubar></app-primeng-menubar>
        </div>
        <div class="roadmap" id="primeng-data-table">
          <h1 class="road">datatable</h1>
          <app-primeng-datatable></app-primeng-datatable>
        </div>
      </div>
    </div>
  </div>
