<div id="gettingstarted" class="container-fluid">
  <div class="container text-center">
    <div class="row">
      <div class="col-md-2 col-sm-2"></div>
      <div class="col-md-4 col-sm-4" id="started">
        <h1>
          Getting started
        </h1>
        <hr>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
          aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
        </p>
        <br>
        <!--botones-->
        <!--Lorem Ipsum1-->
        <div [(ngModel)]="model" ngbRadioGroup name="radioBasic">
          <label class="btn btn-primary" style="margin-left:10px">
    <input type="radio" [value]="3"> Lorem Ipsum 1
  </label>
        </div>
        <!--Lorem Ipsum2-->
        <div [(ngModel)]="model" ngbRadioGroup name="radioBasic">
          <label class="btn btn-primary" style="margin-left:35px">
    <input type="radio" [value]="3"> Lorem Ipsum 2
  </label>
        </div>
      </div>
      <!--Timeline-->
      <div class="col-md-6 col-sm-6">

        <div class="timeline-centered">

          <article class="timeline-entry">
          </article>
          <article class="timeline-entry">

            <div class="timeline-entry-inner">

              <div class="timeline-icon">
                <i class="entypo-feather"></i> 1
              </div>

              <div class="timeline-label">
                <div class="media">
                  <div class="media-left">

                    <img src="../../assets/images/read_icon.png" class="img-responsive img-rounded full-width" style="width:40%;">

                  </div>
                  <div class="media-body" id="media-body">
                    <p>Read the platform GUIDE</p>
                  </div>
                </div>


              </div>
            </div>

          </article>
          <article class="timeline-entry">

            <div class="timeline-entry-inner">

              <div class="timeline-icon">
                <i class="entypo-feather"></i> 2
              </div>

              <div class="timeline-label">
                <div class="media">
                  <div class="media-left">

                    <img src="../../assets/images/view_icon.png" class="img-responsive img-rounded full-width" style="width:40%">

                  </div>
                  <div class="media-body" id="media-body">
                    <p>View the demo tutorial</p>
                  </div>
                </div>


              </div>
            </div>

          </article>
          <article class="timeline-entry">

            <div class="timeline-entry-inner">

              <div class="timeline-icon">
                <i class="entypo-feather"></i> 3
              </div>

              <div class="timeline-label">
                <div class="media">
                  <div class="media-left">

                    <img src="../../assets/images/enviroment_icon.png" class="img-responsive img-rounded full-width" style="width:40%;">

                  </div>
                  <div class="media-body" id="media-body">
                    <p>Setup the develop enviroment</p>
                  </div>
                </div>


              </div>
            </div>

          </article>
          <article class="timeline-entry">

            <div class="timeline-entry-inner">

              <div class="timeline-icon">
                <i class="entypo-feather"></i> 4
              </div>

              <div class="timeline-label">
                <div class="media">
                  <div class="media-left">

                    <img src="../../assets/images/code_icon.png" class="img-responsive img-rounded full-width" style="width:40%;">

                  </div>
                  <div class="media-body" id="media-body">
                    <p>Get the code</p>
                  </div>
                </div>


              </div>
            </div>

          </article>
          <article class="timeline-entry">

            <div class="timeline-entry-inner">

              <div class="timeline-icon">
                <i class="entypo-feather"></i> 5
              </div>

              <div class="timeline-label">
                <div class="media">
                  <div class="media-left">

                    <img src="../../assets/images/help_icon.png" class="img-responsive img-rounded full-width" style="width:40%;">

                  </div>
                  <div class="media-body" id="media-body">
                    <p>Help making OASP even better</p>
                  </div>
                </div>


              </div>
            </div>

          </article>
        </div>
      </div>
    </div>
  </div>
</div>