<div class="container-fluid gettingstarted">
  <div class="row">
    <div class="col-lg-1 col-sm-1"></div>
    <div class="col-lg-4 col-md-12 col-sm-4 col-12 text-xs-center">
      <div class="markdown markdown-center">
        <markdown [path]="'../../assets/content/OASP/getiing-started.md'"></markdown>
      </div>
    </div>
    <div class="col-lg-1 col-sm-1"></div>

    <!--Timeline-->
    <div class="timeline col-lg-6 col-md-12 col-sm-6">
      <div class=" timeline-centered">
        <article class="timeline-entry">
          <div class="timeline-entry-inner">
            <div class="timeline-icon">
              <i class="entypo-feather"></i> 1
            </div>
            <div class="timeline-label">
              <div class="media">
                <div class="media-left">
                  <img class="d-flex align-self-start mr-3" src="../../assets/images/read_icon.png">
                </div>
                <div class="media-body">
                  <p>Read the platform GUIDE</p>
                </div>
              </div>
            </div>
          </div>
        </article>
        <article class="timeline-entry">
          <div class="timeline-entry-inner">
            <div class="timeline-icon">
              <i class="entypo-feather"></i> 2
            </div>
            <div class="timeline-label">
              <div class="media ">
                <div class="media-left">
                  <img class="d-flex align-self-start mr-3" src="../../assets/images/view_icon.png">
                </div>
                <div class="media-body">
                  <p>View the demo tutorial</p>
                </div>
              </div>
            </div>
          </div>
        </article>
        <article class="timeline-entry">
          <div class="timeline-entry-inner ">
            <div class="timeline-icon">
              <i class="entypo-feather"></i> 3
            </div>
            <div class="timeline-label">
              <div class="media ">
                <div class="media-left">
                  <img class="d-flex align-self-start mr-3" src="../../assets/images/enviroment_icon.png ">
                </div>
                <div class="media-body">
                  <p>Setup the develop enviroment</p>
                </div>
              </div>
            </div>
          </div>
        </article>
        <article class="timeline-entry">
          <div class="timeline-entry-inner">
            <div class="timeline-icon">
              <i class="entypo-feather "></i> 4
            </div>
            <div class="timeline-label">
              <div class="media ">
                <div class="media-left">
                  <img class="d-flex align-self-start mr-3" src="../../assets/images/code_icon.png">
                </div>
                <div class="media-body">
                  <p>Get the code</p>
                </div>
              </div>
            </div>
          </div>
        </article>
        <article class="timeline-entry">
          <div class="timeline-entry-inner">
            <div class="timeline-icon">
              <i class="entypo-feather "></i> 5
            </div>
            <div class="timeline-label">
              <div class="media ">
                <div class="media-left">
                  <img class="d-flex align-self-start mr-3" src="../../assets/images/help_icon.png">
                </div>
                <div class="media-body">
                  <p>Help making OASP even better</p>
                </div>
              </div>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</div>
