.example-container {

}

.example-button-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.margin-at-top {
  display: flex;
  align-content: center;
  align-items: center;
  height: 30px;
}

.margin-at-left
{
  padding: 0px 10px;
}
