<div class="container">
<div class="btn-group blocks">

  <label class="btn btn-primary">
      <a href="MaterialDesign#md-input-text-area">InputTextArea</a>
  </label>

  <label class="btn btn-primary">
      <a href="MaterialDesign#md-checkbox">Checkbox</a>
  </label>

  <label class="btn btn-primary">
      <a href="MaterialDesign#md-dropdown">Dropdown</a>
  </label>

  <label class="btn btn-primary">
      <a href="MaterialDesign#md-passowrd">Passowrd</a>
  </label>

  <label class="btn btn-primary">
      <a href="MaterialDesign#md-basic-calender">Basic Calender</a>
  </label>
</div>
</div>

<!-- InputTextArea -->
<div id="md-input-text-area">
  <div class="margine-above">
    <app-input-text-area></app-input-text-area>
  </div>
</div>

<!-- Checkbox -->
<div id="md-checkbox">
<div class="margine-above">
  <app-checkbox></app-checkbox>
</div>
</div>

<!-- Dropdown -->
<div id="md-dropdown">
<div class="margine-above">
  <app-dropdown></app-dropdown>
</div>
</div>

<!-- Passowrd -->
<div id="md-passowrd">
<div class="margine-above">
<app-password></app-password>
</div>
</div>

<!-- Basic Calender -->
<div id="md-basic-calender">
<div class="margine-above">
  <app-basic-calender></app-basic-calender>
</div>
</div>
