<div class="container">
<div class="btn-group blocks">

  <label class="btn btn-primary">
      <a href="PrimeNG#primeng-input-text-area">InputTextArea</a>
  </label>

  <label class="btn btn-primary">
      <a href="PrimeNG#primeng-checkbox">Checkbox</a>
  </label>

  <label class="btn btn-primary">
      <a href="PrimeNG#primeng-dropdown">Dropdown</a>
  </label>

  <label class="btn btn-primary">
      <a href="PrimeNG#primeng-passowrd">Passowrd</a>
  </label>

  <label class="btn btn-primary">
      <a href="PrimeNG#primeng-basic-calender">Basic Calender</a>
  </label>
</div>
</div>

<!-- InputTextArea -->
<div id="primeng-input-text-area">
  <div class="margine-above">
    <app-primeng-input-text-area></app-primeng-input-text-area>
  </div>
</div>

<!-- Checkbox -->
<div id="primeng-checkbox">
<div class="margine-above">
  <app-primeng-checkbox></app-primeng-checkbox>
</div>
</div>

<!-- Dropdown -->
<div id="primeng-dropdown">
<div class="margine-above">
  <app-primeng-dropdown></app-primeng-dropdown>
</div>
</div>

<!-- Passowrd -->
<div id="primeng-passowrd">
<div class="margine-above">
<app-primeng-password></app-primeng-password>
</div>
</div>

<!-- Basic Calender -->
<div id="primeng-basic-calender">
<div class="margine-above">
  <app-primeng-basic-calender></app-primeng-basic-calender>
</div>
</div>
