<div id="usedTechnologies" class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center logos">
        <a href="https://spring.io/" target="_blank"><img alt="spring-logo" src="../../assets/logos/spring_logo.png"></a>
        <a href="https://www.java.com/" target="_blank"><img alt="javaee-logo" src="../../assets/logos/java_ee.png" style="margin-left:60px;"></a>
        <a href="http://projects.spring.io/spring-boot/" target="_blank"><img alt="springboot-logo" src="../../assets/logos/boot_logo.png" style="margin-left:60px;"></a>
        <a href="http://www.querydsl.com/" target="_blank"><img alt="querydsl-logo" src="../../assets/logos/query_logo.png" style="margin-left:60px;"></a>
        <br>
        <br>
        <br>
        <a href="http://flywaydb.org/" target="_blank"><img alt="flyway-logo" src="../../assets/logos/flyway_logo.png"></a>
        <a href="https://angularjs.org/" target="_blank"><img alt="angularjs-logo" src="../../assets/logos/angular_logo.svg.png"style="margin-left:60px;"></a>
        <a href="http://maven.apache.org/" target="_blank"><img alt="maven-logo" src="../../assets/logos/maven_logo.svg.png"style="margin-left:60px;"></a>
        <a href="http://cxf.apache.org/" target="_blank"><img alt="apache-logo" src="../../assets/logos/apache_logo.png"style="margin-left:60px;"></a>
      </div>
    </div>
  </div>
</div>