.usedTechnologies{
    background-color: #ffffff;
    box-shadow:inset 0px 7px 20px rgba(68,68,68,0.3)}
.usedTechnologies .logos-tech{
    padding: 50px 0px;
}
.usedTechnologies .logos-tech a{
    text-align: center;
    width: 100%;
    display: inline-block;
}
.usedTechnologies .logos-tech a img{
    padding: 50px 0px;
}

@media (max-width: 767px) {
    .usedTechnologies .logos-tech a img{
        padding: 50px 15px;
    }
}