@font-face {
   font-family: Montserrat-Regular;
   src: url("../../assets/fonts/Montserrat-Regular.ttf")
 }

 @font-face {
   font-family: Montserrat-Bold;
   src: url("../../assets/fonts/Montserrat-Bold.ttf")
 }

 @font-face {
   font-family: Montserrat-Extralight;
   src: url("../../assets/fonts/Montserrat-Extralight.ttf")
 }

 #devonfw {
   background: url("../../assets/images/logo.png") center center no-repeat;
   background-color: #4bbdec;
   background-size: contain;
   background-position-x: -140px;
 }

 h1 {
   color: #FFFFFF;
   margin-top: 40%;
   font-family: Montserrat-Medium;
   font-size: 25pt;
   
 }

 p {
   color: #FFFFFF;
   text-align: right;
   font-size: 14pt;
   font-family: montserrat-Extralight;
   line-height: 18pt;
 }

.btn-primary {
    color: #FFFFFF;
    background-color: transparent;
    border-color: #FFFFFF;
    border-top-color: #FFFFFF;
    border-right-color: #FFFFFF;
    border-bottom-color: #FFFFFF;
    border-left-color: #FFFFFF;
    padding-left: 40px;
    padding-right: 40px;
    padding-top:14px;
    padding-bottom: 14px;
    margin-bottom: 140%;
    border-radius: 72px;
    font-size: 12pt; 
    font-size: 12pt;border-width: 2px;
    font-family: Montserrat-Regular;
    }

hr {
  background-color: white;
  height: 3px;
  margin-left: 80%;
  margin-right: 0%;
}
