<div id="devonfw" class="container-fluid">

  <div class="container text-right">
    <div class="row">
      <div class="col-md-6 col-sm-6"></div>
      <div class="col-md-5 col-sm-5 col-12 text-xs-center">
        <h1>devonfw</h1>
        <hr>
        <p class="text-xs-center"><b>Devonfw</b> is the CSD standard platform for Capgemini APPS2. It provides a <b>standard architecture</b> blueprint
          for <b>Java-applications</b>, an open best-of-breed technology stack as well as industry</p>
        <div [(ngModel)]="model" ngbRadioGroup name="radioBasic">
          <label class="btn btn-primary">
    <input type="radio" [value]="1"> More info
  </label>
        </div>
      </div>
    </div>
  </div>
</div>