<div id="devonfw" class="container-fluid">
  <div class="container text-right">
    <div class="col-10 offset-1 d-md-none d-block">
      <img src="../../assets/images/devon_logo.png" class="icon">
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-6"></div>
      <div class="col-md-5 col-sm-5 col-10 offset-1 text-xs-center" style="margin-bottom:15%">
        <div class="markdown">
          <markdown [path]="'../../assets/content/OASP/devonfw.md'"></markdown>
      </div>
    </div>
  </div>
</div>
