
 #devonfw {
   background: url("../../assets/images/logo.png") center center no-repeat;
   background-color: #4bbdec;
   background-size: contain;
   background-position-x: -140px;
 } 
 #devonfw h1{
   margin-top:40%;
 }
 /**Markdown Styles**/
 #devonfw .markdown h1{
      color:#ffffff;
      font-family: montserrat-regular;
      font-weight: 500

}
 #devonfw .markdown p{
    color: #ffffff!important;
    font-style: normal;
    font-family: montserrat-light;
}
 #devonfw .markdown h1::after {
  content: "";
  display: block;
  position: relative;
  margin: 10px 0px 0px 380px;
  width: 15%;
  background-color: #ffffff;
  height: 4px;
}
 #devonfw .markdown a{
    color: #ffffff;
    border: #ffffff 2px solid;
}

@media (max-width: 767px) {


  #devonfw h1{
     margin-top: 10%;
  }
  #devonfw .markdown h1::after{ 
       width: 15%;
       margin-right:35%;
       margin-left:43%;
  }
  #devonfw {
   background-image:none;
   }
  img{
    width: 100%;
    padding-top: 10px;
    text-align: center;}
}

