  <nav class="navbar fixed-top navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" (click)="isCollapsed = !isCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#"><img src="../../assets/images/OASP.png"></a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngbCollapse]="isCollapsed">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/oasp']">OASP<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
          <a class="nav-link" [routerLink]="['/oasp4j']">OASP4J</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" [routerLink]="['/oasp4js']">OASP4JS</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" [routerLink]="['/oasp4net']"> OASP4NET</a>
      </li>
       <li class="nav-item">
          <a class="nav-link" [routerLink]="['/More']">More</a>
      </li>
      
    </ul>
  </div>
</nav>