 @font-face {
   font-family: Montserrat-Medium;
   src: url("../../assets/fonts/Montserrat-Medium.ttf")
 }

 .navbar {
   background-color: transparent;
   -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.15);
   -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.15);
   box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.10);
 }

 .navbar .active {
   /*background: #FFFFFF;
   border-radius: 4px;
   transition: all 300ms;*/
   border-bottom:6px solid #ffffff;
 } 

 .navbar .active .nav-link {
   color: #ffffff !important;
 }

 .navbar .active .nav-link:hover {
   text-shadow: none !important;
 }

 .navbar-light .navbar-nav .nav-link {
   color: #FFFFFF;
   font-family: Montserrat-Regular;
   margin: 13px;
 }

 .navbar-light .navbar-nav .nav-link:hover {
   /*text-shadow: 1px 1px 1px #207090;*/
   color: rgba(255, 255, 255,.5);
   transition: all .2s ease-in-out;
 }

 .collapse.navbar-collapse.show {
   margin-top: 12px;
 }

 img {
   width: 50px;
   height: 50px;
 }

