 @font-face {
   font-family: Montserrat-Medium;
   src: url("../../assets/fonts/Montserrat-Medium.ttf")
 }

 .navbar {
   background-color: transparent;
 }

 .navbar .active {
   background: #FFFFFF;
   border-radius: 4px;
   transition: all 300ms;
 }

 .navbar .active .nav-link {
   color: #4bbdec !important;
 }

 .navbar .active .nav-link:hover {
   text-shadow: none !important;
 }

 .navbar-light .navbar-nav .nav-link {
   color: #FFFFFF;
   font-family: Montserrat-Regular;
   margin: 13px;
 }

 .navbar-light .navbar-nav .nav-link:hover {
   text-shadow: 1px 1px 1px #207090;
 }

 .collapse.navbar-collapse.show {
   margin-top: 12px;
 }

 img {
   width: 50px;
   height: 50px;
 }

