<div class="container-fluid oasp4j-container">
  <div class="row">
    <!-- Sidebar -->
    <div class="col-lg-3 col-md-4 sidebar-left">
      <div class="sidebar-nav">
        <ul class="sidebar-nav-list">
          <li class="dropdown">
            <a href="oasp4j#over-view" [ngClass]="{'active': isCurrentPath('/oasp4j#over-view')}">Overview</a>
            <ul class="dropdown-submenu">
              <li><a href="oasp4j#documentacion">Documentation</a></li>
              <li><a href="oasp4j#modules">Modules</a></li>
              <li><a href="oasp4j#sample-app">Sample Application</a></li>
            </ul>
            <li class="dropdown">
              <a href="oasp4j#get-start4j">Getting started</a>
            </li>
            <li class="dropdown">
              <a href="oasp4j#tl-go">Roadmap</a>
            </li>
        </ul>
      </div>
    </div>
    <!-- Sidebar -->

    <!--Overview-->

    <div class="hidden-sm-down col-lg-9 col-md-8 col-sm-7 col-12 content-roadmap">
      <div class="roadmap">
        <div class="markdown main-title">
          <markdown [path]="'../../assets/content/OASP4J/header.md'"></markdown>
        </div>
        <h4 class="developers" id="over-view">¡From developers to developers!</h4>
        <h1>Overview</h1>
        <div class="markdown over" id="documentacion">
          <markdown [path]="'../../assets/content/OASP4J/overview/documentation.md'"></markdown>
        </div>
        <div class="markdown over" id="modules">
          <markdown [path]="'../../assets/content/OASP4J/overview/modules.md'"></markdown>
        </div>
        <div class="markdown over" id="sample-app">
          <markdown [path]="'../../assets/content/OASP4J/overview/sample-app.md'"></markdown>
        </div>
        <div id="get-start4j"></div>
        <!--Getting started-->
        <div class="timeline col-lg-12  col-md-12 col-sm-6">
          <h1 class="timeline-started">Getting started</h1>
          <div class=" timeline-centered">
            <article class="timeline-entry">
              <div class="timeline-entry-inner">
                <div class="timeline-icon">
                  <i class="entypo-feather"></i> 1
                </div>
                <div class="timeline-label">
                  <div class="media">
                    <div class="media-left">
                      <a href="../../assets/PDF/OASP4J.pdf">
                        <img class="d-flex align-self-start mr-3" src="../../assets/images/read_icon.png">
                      </a>
                    </div>
                    <div class="media-body">
                      <a href="../../assets/PDF/OASP4J.pdf">
                        <p>Read the platform GUIDE</p>
                      </a>
                      <p class="description">First things first. Start your way through OASP by reading the OASP4j Platform Guide</p>
                    </div>
                  </div>
                </div>
              </div>
            </article>
            <article class="timeline-entry">
              <div class="timeline-entry-inner">
                <div class="timeline-icon">
                  <i class="entypo-feather"></i> 2
                </div>
                <div class="timeline-label">
                  <div class="media ">
                    <div class="media-left">
                      <a href="http://oasp-ci.cloudapp.net/oasp4j-sample/jsclient/">
                        <img class="d-flex align-self-start mr-3" src="../../assets/images/view_icon.png">
                      </a>
                    </div>
                    <div class="media-body">
                      <a href="http://oasp-ci.cloudapp.net/oasp4j-sample/jsclient/">
                        <p>View the demo tutorial</p>
                      </a>
                      <p class="description">There is currently one rather technical demo, simulating a few use cases of a restaurant management
                        application
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </article>
            <article class="timeline-entry">
              <div class="timeline-entry-inner ">
                <div class="timeline-icon">
                  <i class="entypo-feather"></i> 3
                </div>
                <div class="timeline-label">
                  <div class="media ">
                    <div class="media-left">
                      <a href="https://github.com/oasp/oasp4j/wiki/oasp-ide-setup">
                        <img class="d-flex align-self-start mr-3" src="../../assets/images/enviroment_icon.png">
                      </a>
                    </div>
                    <div class="media-body">
                      <a href="https://github.com/oasp/oasp4j/wiki/oasp-ide-setup">
                        <p>Setup the develop enviroment</p>
                      </a>
                      <p class="description">The OASP IDE setup guide will guide you how to get your development environment up and running.</p>
                    </div>
                  </div>
                </div>
              </div>
            </article>
            <article class="timeline-entry">
              <div class="timeline-entry-inner">
                <div class="timeline-icon">
                  <i class="entypo-feather "></i> 4
                </div>
                <div class="timeline-label">
                  <div class="media ">
                    <div class="media-left">
                      <a href="http://github.com/oasp/oasp4j/">
                        <img class="d-flex align-self-start mr-3" src="../../assets/images/code_icon.png">
                      </a>
                    </div>
                    <div class="media-body">
                      <a href="http://github.com/oasp/oasp4j/">
                        <p>Get the code</p>
                      </a>
                      <p class="description">Once you are able to code applications with OASP support you surely want to take a peek to the technology
                        underneath and be able to customize for your needs.The code is hosted on Github, here are the main
                        repositories
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </article>
            <article class="timeline-entry">
              <div class="timeline-entry-inner">
                <div class="timeline-icon">
                  <i class="entypo-feather "></i> 5
                </div>
                <div class="timeline-label">
                  <div class="media ">
                    <div class="media-left">
                      <img class="d-flex align-self-start mr-3" src="../../assets/images/help_icon.png">
                    </div>
                    <div class="media-body" id="tl-go">
                      <p>Help making OASP even better</p>
                      <p class="description">Remember this is a joint effort and you are welcome to contribute.</p>
                    </div>
                  </div>
                </div>
              </div>
            </article>
          </div>
        </div>
        <!--Roadmap-->
        <h1 class="road">Roadmap</h1>
        <div class="markdown tl">
          <markdown [path]="'../../assets/content/OASP4J/roadmap/roadmap.md'"></markdown>
        </div>
      </div>
    </div>
  </div>
</div>

<!--mvl version-->

<div class="container-fluid oasp4jmvl">
  <div class="row">
    <div class="hidden-md-up">
      <ngb-tabset type="pills" class="tabset4j">
        <ngb-tab title="Overview">
          <ng-template ngbTabContent>
            <div class="markdown over" id="documentacion">
              <markdown [path]="'../../assets/content/OASP4J/overview/documentation.md'"></markdown>
            </div>
            <div class="markdown over" id="sample-app">
              <markdown [path]="'../../assets/content/OASP4J/overview/sample-app.md'"></markdown>
            </div>
            <div class="markdown over" id="modules">
              <markdown [path]="'../../assets/content/OASP4J/overview/modules.md'"></markdown>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="Getting started">
          <ng-template ngbTabContent>
            <div class="timeline col-12 ">
              <div class=" timeline-centered ">
                <article class="timeline-entry">
                  <div class="timeline-entry-inner">
                    <div class="timeline-icon">
                      <i class="entypo-feather"></i> 1
                    </div>
                    <div class="timeline-label">
                      <div class="media">
                        <div class="media-left">
                          <a href="../../assets/PDF/OASP4J.pdf">
                            <img class="d-flex align-self-start mr-3" src="../../assets/images/read_icon.png">
                          </a>
                        </div>
                        <div class="media-body">
                          <a href="../../assets/PDF/OASP4J.pdf">
                            <p>Read the platform GUIDE</p>
                          </a>
                          <p class="description">First things first. Start your way through OASP by reading the OASP4j Platform Guide</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </article>
                <article class="timeline-entry">
                  <div class="timeline-entry-inner">
                    <div class="timeline-icon">
                      <i class="entypo-feather"></i> 2
                    </div>
                    <div class="timeline-label">
                      <div class="media ">
                        <div class="media-left">
                          <a href="http://oasp-ci.cloudapp.net/oasp4j-sample/jsclient/">
                            <img class="d-flex align-self-start mr-3" src="../../assets/images/view_icon.png">
                          </a>
                        </div>
                        <div class="media-body">
                          <a href="http://oasp-ci.cloudapp.net/oasp4j-sample/jsclient/">
                            <p>View the demo tutorial</p>
                          </a>
                          <p class="description">There is currently one rather technical demo, simulating a few use cases of a restaurant management
                            application
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </article>
                <article class="timeline-entry">
                  <div class="timeline-entry-inner ">
                    <div class="timeline-icon">
                      <i class="entypo-feather"></i> 3
                    </div>
                    <div class="timeline-label">
                      <div class="media ">
                        <div class="media-left">
                          <a href="https://github.com/oasp/oasp4j/wiki/oasp-ide-setup">
                            <img class="d-flex align-self-start mr-3" src="../../assets/images/enviroment_icon.png">
                          </a>
                        </div>
                        <div class="media-body">
                          <a href="https://github.com/oasp/oasp4j/wiki/oasp-ide-setup">
                            <p>Setup the develop enviroment</p>
                          </a>
                          <p class="description">The OASP IDE setup guide will guide you how to get your development environment up and running.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </article>
                <article class="timeline-entry">
                  <div class="timeline-entry-inner">
                    <div class="timeline-icon">
                      <i class="entypo-feather "></i> 4
                    </div>
                    <div class="timeline-label">
                      <div class="media ">
                        <div class="media-left">
                          <a href="http://github.com/oasp/oasp4j/">
                            <img class="d-flex align-self-start mr-3" src="../../assets/images/code_icon.png">
                          </a>
                        </div>
                        <div class="media-body">
                          <a href="http://github.com/oasp/oasp4j/">
                            <p>Get the code</p>
                          </a>
                          <p class="description">Once you are able to code applications with OASP support you surely want to take a peek to the
                            technology underneath and be able to customize for your needs.The code is hosted on Github, here
                            are the main repositories
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </article>
                <article class="timeline-entry">
                  <div class="timeline-entry-inner">
                    <div class="timeline-icon">
                      <i class="entypo-feather "></i> 5
                    </div>
                    <div class="timeline-label">
                      <div class="media ">
                        <div class="media-left">
                          <img class="d-flex align-self-start mr-3" src="../../assets/images/help_icon.png">
                        </div>
                        <div class="media-body" id="tl-go">
                          <p>Help making OASP even better</p>
                          <p class="description">Remember this is a joint effort and you are welcome to contribute.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </article>
              </div>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="Roadmap">
          <ng-template ngbTabContent>
            <div class="markdown tl">
              <markdown [path]="'../../assets/content/OASP4J/roadmap/roadmap.md'"></markdown>
            </div>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
  </div>
</div>
