<div class="container-fluid oasp4j-container">
  <div class="row">
    <!-- Sidebar -->
    <div class="col-md-3 sidebar-left">
      <div id="wrapper" class="sidebar-nav">
        <a class="btn btn-primary" style="margin:10px 20px 20px 20px" href="http://oasp.github.io/oasp4j_content/oasp4j_getstarted.html"> Getting started
            </a>
        <ul class="sidebar-nav-list">
          <li class="dropdown">
            <a href="oasp4j#over-view">Overview</a>
            <ul class="dropdown-submenu">
              <li><a href="oasp4j#documentacion">Documentation</a></li>
              <li><a href="oasp4j#modules">Modules</a></li>
              <li><a href="oasp4j#sample-app">Sample Application</a></li>
            </ul>
            <li class="dropdown">
              <a href="oasp4j#tl-go">Roadmap</a>
            </li>
        </ul>
      </div>
    </div>
    <!-- Sidebar -->

    <div class="col-md-9 col-sm-7 col-12 content-roadmap">
      <div class="roadmap" id="roadmap">
        <div class="markdown main-title" id="OASP4J">
          <markdown [path]="'../../assets/content/OASP4J/header.md'"></markdown>
        </div>
        <h4 id="over-view">¡From developers to developers!</h4>
        <h1>Overview</h1>
        <div class="markdown over" id="documentacion">
          <markdown [path]="'../../assets/content/OASP4J/overview/documentation.md'"></markdown>
        </div>
        <div class="markdown over" id="sample-app">
          <markdown [path]="'../../assets/content/OASP4J/overview/sample-app.md'"></markdown>
        </div>
        <div class="markdown over" id="modules">
          <markdown [path]="'../../assets/content/OASP4J/overview/modules.md'"></markdown>
        </div>
        
        <h1 id="tl-go">Roadmap</h1>
        <div class="markdown tl">
          <markdown [path]="'../../assets/content/OASP4J/roadmap/upcoming-release.md'"></markdown>
        </div>
        <div class="markdown tl">
          <markdown [path]="'../../assets/content/OASP4J/roadmap/oasp v2.3.0.md'"></markdown>
        </div>
        <div class="markdown tl">
          <markdown [path]="'../../assets/content/OASP4J/roadmap/oasp v2.2.0.md'"></markdown>
        </div>
        <div class="markdown tl">
          <markdown [path]="'../../assets/content/OASP4J/roadmap/oasp v2.1.2.md'"></markdown>
        </div>
        <div class="markdown tl">
          <markdown [path]="'../../assets/content/OASP4J/roadmap/oasp v2.1.0.md'"></markdown>
        </div>
        <div class="markdown tl">
          <markdown [path]="'../../assets/content/OASP4J/roadmap/oasp v2.0.0.md'"></markdown>
        </div>
        <div class="markdown tl">
          <markdown [path]="'../../assets/content/OASP4J/roadmap/oasp v1.5.md'"></markdown>
        </div>
        <div class="markdown tl">
          <markdown [path]="'../../assets/content/OASP4J/roadmap/oasp v1.4.md'"></markdown>
        </div>
      </div>
    </div>
  </div>
</div>
