<div id="slider" class="container-fluid">
  <div class="row">
    <div class="col-md-6 offset-md-3 col-sm-10 offset-sm-1 col-12" id="comillas" style="margin-top: 40px;margin-bottom: 90px;">
      <div id="#carouselExampleIndicators" class="carousel slide carousel-testimonial" data-ride="carousel">
        
        <div class="carousel-inner" role="listbox">
          <div class="carousel-item active">
            <div class="media">
              <img class="d-flex align-self-center mr-3" src="../../assets/images/slider1.jpg">
              <div class="media-body">
                <h3 class="mt-0">Ruben Martinez</h3>
                <p>" if you like to contribute to enhance (or mantain) OASP, you will find plenty of ideas in the issue-sections
                  of the repos. We are very happy to receive your contribution, discuss approaches and return feedback to
                  you. "</p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="media">
              <img class="d-flex align-self-center mr-3" src="../../assets/images/slider2.jpg">
              <div class="media-body">
                <h3 class="mt-0">John Doe</h3>
                <p>" Lorem ipsum... "</p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="media">
              <img class="d-flex align-self-center mr-3" src="../../assets/images/slider3.jpg">
              <div class="media-body">
                <h3 class="mt-0">John Doe</h3>
                <p>" Lorem ipsum... "</p>
              </div>
            </div>
          </div>
        </div>
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
        </ol>
      </div>
    </div>
  </div>
</div>
