<div class="container-fluid about">
  <div class="container">
    <ngb-tabset type="pills" class="tabset">
      <ngb-tab title="Material Design (Covalent)">
        <ng-template ngbTabContent>
          <div class="row">
            <div class="col-sm-1 col-md-4 col-6">
              <div class="gallery">
                <img src="../../assets/images/desktop_icon.png" alt="Form Control" >
                <div class="desc">
                  <h5><a class="nav-link" [routerLink]="['/MaterialDesign']" fragment="md-form-control">Form Control</a></h5>
                </div>
              </div>
            </div>
            <div class="col-sm-1 col-md-4 col-6">
              <div class="gallery">
                <img src="../../assets/images/web_icon.png" alt="Button">
                <div class="desc">
                  <h5><a class="nav-link" [routerLink]="['/MaterialDesign']" fragment="md-button">Buttons</a></h5>
                </div>
              </div>
            </div>
            <div class="col-sm-1 col-md-4 col-6">
              <div class="gallery">
                <img src="../../assets/images/mobile_icon.png" alt="SideNav">
                <div class="desc">
                  <h5><a class="nav-link" [routerLink]="['/MaterialDesign']" fragment="md-sidenav">SideNav</a></h5>
                </div>
              </div>
            </div>
            <div class="col-sm-1 col-md-4 col-6">
              <div class="gallery">
                <img src="../../assets/images/batch_icon.png" alt="DataTable">
                <div class="desc">
                  <h5><a class="nav-link" [routerLink]="['/MaterialDesign']" fragment="md-data-table">DataTable</a></h5>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </ngb-tab>

      <ngb-tab title="Bootstrap">
        <ng-template ngbTabContent>
          <div class="row">
            <div class="col-sm-1 col-md-4 col-6">
              <div class="gallery">
                <img src="../../assets/images/desktop_icon.png" alt="Form Control" >
                <div class="desc">
                  <h5><a class="nav-link" [routerLink]="['/Bootstrap']" fragment="bs-form-control">Form Controls</a></h5>
                </div>
              </div>
            </div>
            <div class="col-sm-1 col-md-4 col-6">
              <div class="gallery">
                <img src="../../assets/images/web_icon.png" alt="Button">
                <div class="desc">
                  <h5><a class="nav-link" [routerLink]="['/Bootstrap']" fragment="bs-button">Buttons</a></h5>
                </div>
              </div>
            </div>
            <div class="col-sm-1 col-md-4 col-6">
              <div class="gallery">
                <img src="../../assets/images/mobile_icon.png" alt="SideNav">
                <div class="desc">
                  <h5><a class="nav-link" [routerLink]="['/Bootstrap']" fragment="bs-carousel">Carousel</a></h5>
                </div>
              </div>
            </div>
            <div class="col-sm-1 col-md-4 col-6">
              <div class="gallery">
                <img src="../../assets/images/batch_icon.png" alt="DataTable">
                <div class="desc">
                  <h5><a class="nav-link" [routerLink]="['/Bootstrap']" fragment="bs-tabset">Tabset</a></h5>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </ngb-tab>

      <ngb-tab title="PrimeNG">
        <ng-template ngbTabContent>
          <div class="row">
            <div class="col-sm-1 col-md-4 col-6">
              <div class="gallery">
                <img src="../../assets/images/desktop_icon.png" alt="Form Control" >
                <div class="desc">
                  <h5><a class="nav-link" [routerLink]="['/PrimeNG']" fragment="primeng-form-control">Form Control</a></h5>
                </div>
              </div>
            </div>
            <div class="col-sm-1 col-md-4 col-6">
              <div class="gallery">
                <img src="../../assets/images/web_icon.png" alt="Button">
                <div class="desc">
                  <h5><a class="nav-link" [routerLink]="['/PrimeNG']" fragment="primeng-button">Button</a></h5>
                </div>
              </div>
            </div>
            <div class="col-sm-1 col-md-4 col-6">
              <div class="gallery">
                <img src="../../assets/images/mobile_icon.png" alt="Menubar">
                <div class="desc">
                  <h5><a class="nav-link" [routerLink]="['/PrimeNG']" fragment="primeng-menubar">Menubar</a></h5>
                </div>
              </div>
            </div>
            <div class="col-sm-1 col-md-4 col-6">
              <div class="gallery">
                <img src="../../assets/images/batch_icon.png" alt="DataTable">
                <div class="desc">
                  <h5><a class="nav-link" [routerLink]="['/PrimeNG']" fragment="primeng-data-table">DataTable</a></h5>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </ngb-tab>

      <ngb-tab title="Misc">
        <ng-template ngbTabContent>
          <div class="row">
            <div class="col-sm-1 col-md-4 col-6">
              <div class="gallery">
                <img src="../../assets/images/desktop_icon.png" alt="Form Control" >
                <div class="desc">
                  <h5><a class="nav-link" [routerLink]="['/Misc']" fragment="ngx-translate">ngx-translate</a></h5>
                </div>
              </div>
            </div>
            <div class="col-sm-1 col-md-4 col-6">
              <div class="gallery">
                <img src="../../assets/images/web_icon.png" alt="Button">
                <div class="desc">
                  <h5><a class="nav-link" [routerLink]="['/Misc']" fragment="ag-grid">ag-Grid</a></h5>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>
</div>
