<div class="container-fluid about">
  <div class="container">
    <ngb-tabset type="pills" class="tabset">
      <ngb-tab title="Material Design">
        <ng-template ngbTabContent>
          <div class="row">
            <div class="col-sm-1 col-md-4 col-6">
              <div class="gallery">
                <img src="../../assets/images/desktop_icon.png" alt="Form Control" >
                <div class="desc">
                  <h5><a class="nav-link" [routerLink]="['/MaterialDesign']">Form Control</a></h5>
                </div>
              </div>
            </div>
            <div class="col-sm-1 col-md-4 col-6">
              <div class="gallery">
                <img src="../../assets/images/web_icon.png" alt="Button">
                <div class="desc">
                  <h5><a class="nav-link" [routerLink]="['/MaterialDesign']">Button</a></h5>
                </div>
              </div>
            </div>
            <div class="col-sm-1 col-md-4 col-6">
              <div class="gallery">
                <img src="../../assets/images/mobile_icon.png" alt="SideNav">
                <div class="desc">
                  <h5><a class="nav-link" [routerLink]="['/MaterialDesign']">SideNav</a></h5>
                </div>
              </div>
            </div>
            <div class="col-sm-1 col-md-4 col-6">
              <div class="gallery">
                <img src="../../assets/images/batch_icon.png" alt="DataTable">
                <div class="desc">
                  <h5><a class="nav-link" [routerLink]="['/MaterialDesign']">DataTable</a></h5>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </ngb-tab>

      <ngb-tab title="Bootstrap">
        <ng-template ngbTabContent>
          <div class="row">
            <div class="col-sm-1 col-md-4 col-6">
              <div class="gallery">
                <img src="../../assets/images/desktop_icon.png" alt="Desktop apps">
                <div class="desc">
                  <h5>Form Control</h5>
                </div>
              </div>
            </div>
            <div class="col-sm-1 col-md-4 col-6">
              <div class="gallery">
                <img src="../../assets/images/web_icon.png" alt="Desktop apps">
                <div class="desc">
                  <h5>Button</h5>
                </div>
              </div>
            </div>
            <div class="col-sm-1 col-md-4 col-6">
              <div class="gallery">
                <img src="../../assets/images/mobile_icon.png" alt="Mobile apps">
                <div class="desc">
                  <h5>SideNav</h5>
                </div>
              </div>
            </div>
            <div class="col-sm-1 col-md-4 col-6">
              <div class="gallery">
                <img src="../../assets/images/batch_icon.png" alt="Desktop apps">
                <div class="desc">
                  <h5>DataTable</h5>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </ngb-tab>

      <ngb-tab title="PrimeNG">
        <ng-template ngbTabContent>
          <div class="row">
            <div class="col-sm-1 col-md-4 col-6">
              <div class="gallery">
                <img src="../../assets/images/desktop_icon.png" alt="Desktop apps">
                <div class="desc">
                  <h5>Form Control</h5>
                </div>
              </div>
            </div>
            <div class="col-sm-1 col-md-4 col-6">
              <div class="gallery">
                <img src="../../assets/images/web_icon.png" alt="Desktop apps">
                <div class="desc">
                  <h5>Button</h5>
                </div>
              </div>
            </div>
            <div class="col-sm-1 col-md-4 col-6">
              <div class="gallery">
                <img src="../../assets/images/mobile_icon.png" alt="Mobile apps">
                <div class="desc">
                  <h5>SideNav</h5>
                </div>
              </div>
            </div>
            <div class="col-sm-1 col-md-4 col-6">
              <div class="gallery">
                <img src="../../assets/images/batch_icon.png" alt="Desktop apps">
                <div class="desc">
                  <h5>DataTable</h5>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </ngb-tab>

      <ngb-tab title="Misc">
        <ng-template ngbTabContent>
          <div class="row">
            <div class="col-sm-1 col-md-4 col-6">
              <div class="gallery">
                <img src="../../assets/images/desktop_icon.png" alt="Desktop apps">
                <div class="desc">
                  <h5>ngx-translate</h5>
                </div>
              </div>
            </div>
            <div class="col-sm-1 col-md-4 col-6">
              <div class="gallery">
                <img src="../../assets/images/web_icon.png" alt="Desktop apps">
                <div class="desc">
                  <h5>ag-Grid</h5>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>
</div>
