 @font-face{
     font-family: Montserrat-Regular;
     src: url("../../assets/fonts/Montserrat-Regular.ttf")
 }
@font-face{
     font-family: Montserrat-Bold;
     src: url("../../assets/fonts/Montserrat-Bold.ttf")
 }
 @font-face{
     font-family: Montserrat-Medium;
     src: url("../../assets/fonts/Montserrat-Medium.ttf")
 }

#about{
    background: url("../../assets/images/on_the_flexible_solution.png")0px 540px ,url("../../assets/images/corte_2.png") -695px -300px;
    background-size: 180%;
    background-repeat: no-repeat;
    box-shadow: 0 0 30px rgba(68,68,68,0.3);
}

.nav-tabs > li > a, .nav-tabs > li > a:hover {
    color: white;
    background: transparent;
    font-family: Montserrat-Regular;
    font-size: 10pt;
}

li{
    margin-right: 15px;
}
li .active{}

ul{     

    margin-bottom: 30px;

}
img.img-responsive {
    margin-bottom: 40px;
    margin-top: 40px;
    margin-right: 20px;
}
div.gallery {

    margin-top: 10%;
    margin-left: 40px;
    box-shadow: 0 0 30px rgba(68,68,68,0.3);
    background: #ddd;
    border-radius: 3px;
    float: left;
    margin-bottom: 40px;
    background-color: #4bbdec;
}


div.gallery img{
    width: 30%;
    margin-left:90px;
    margin-top:30px;
    margin-bottom: 30px;
}


div.desc {
    background-color: white;
    padding: 15px;
    text-align: left;
    padding-top: 23px;
    font-family: Montserrat-Medium;
    color: #4bbdec;
    height: 70px;   
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;



}

.nav-tabs{
    border-bottom: 0px;
}
 .nav-tabs > li.active > a,
        .nav-tabs > li.active > a:hover,
        .nav-tabs > li.active > a:focus {
          zoom: 1;
          } 
 hr{
    background-color: #4bbdec;
    height: 3px;
    margin-left: 0%;
    margin-right: 90%;
    margin-top: 0px;

     }