<div id="about" class="container-fluid ">
  <div class="container">
    <div class="row">
      <div class="col-md-1 col-sm-1"></div>
      <div class="col-md-10 col-sm-10">
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="oneFlexibleSolution">

            <div class="gallery">
              <img src="../../assets/images/desktop_icon.png" alt="Desktop apps">
              <div class="desc">
                Desktop Apps
                <div class="linea">
                  <hr>
                </div>
              </div>
            </div>

            <div class="gallery">
              <img src="../../assets/images/web_icon.png" alt="Web apps" style="margin-right:20px;margin-bottom:26px">
              <div class="desc">
                Web Apps
                <div class="linea">
                  <hr>
                </div>
              </div>
            </div>

            <div class="gallery">
              <img src="../../assets/images/mobile_icon.png" alt="Mobile apps" style="width:25%;margin-bottom:8px;margin-top:15px;margin-right:60px">
              <div class="desc">
                Mobile Apps
                <div class="linea">
                  <hr>
                </div>
              </div>
            </div>
            <br>
            <div class="gallery">
              <img src="../../assets/images/batch_icon.png" alt="Batch" style="margin-right:20px">
              <div class="desc">
                Batch processing
                <div class="linea">
                  <hr>
                </div>
              </div>
            </div>

            <div class="gallery">
              <img src="../../assets/images/integration_icon.png" alt="Integration" style="margin-right:20px">
              <div class="desc">
                Integration
                <div class="linea">
                  <hr>
                </div>
              </div>
            </div>

            <div class="gallery">
              <img src="../../assets/images/cloud_icon.png" alt="Cloud" style="margin-right:20px">
              <div class="desc">
                Cloud
                <div class="linea">
                  <hr>
                </div>
              </div>
            </div>
          </div>

          <div role="tabpanel" class="tab-pane" id="architectureBackground">
            <h3>Architecture background</h3>
            <p>... based on years of CSD-architecture knowledge: Quasar (public) and Architecture Guide (IP).</p>
            <img class="img-responsive" src="images/CG-architectureBackground.png" alt="architectureBackground">
          </div>

          <div role="tabpanel" class="tab-pane" id="architecturePatterns">

          </div>

          <div role="tabpanel" class="tab-pane" id="usedTechnologies">
            <h3>Used Technologies across all layers</h3>
            <p>OASP is built by orchestratation of commonly known and estabished OS-technologies.</p>
            <img class="img-responsive" src="images/OASP_technologies_used.png" alt="Used technologies">
          </div>

          <div role="tabpanel" class="tab-pane" id="ide">
            <h3>Integrated Development Environment</h3>
            <p>Highly integrated development environment, from model to CI.</p>
            <img class="img-responsive" src="images/IntegratedIDE.png" alt="Integrated IDE">
          </div>

          <div role="tabpanel" class="tab-pane" id="restaurantExampleClient">
            <h3>Restaurant Example Client</h3>
            <p>Technical reference Web-UI using open source JS-Framework Angular JS and Bootstrap.</p>
            <img class="img-responsive" src="images/Example_Angular_Restaurant_Screen.png" alt="Example Angular restaurant screen">
          </div>
        </div>
      </div>
      <div class="col-md-12 col-md-offset-1" >
        <ul class="nav nav-tabs justify-content-center" role="tablist" id="tablist">
          <li role="presentation" class="active"><a href="#oneFlexibleSolution" aria-controls="oneFlexibleSolution" role="tab" data-toggle="tab" aria-expanded="false">One flexible solution</a></li>
          <li role="presentation" class=""><a href="#architectureBackground" aria-controls="architectureBackground" role="tab" data-toggle="tab" aria-expanded="false">Architecture background</a></li>
          <li role="presentation" class=""><a href="#architecturePatterns" aria-controls="architecturePatterns" role="tab" data-toggle="tab" aria-expanded="false">Architecture patterns</a></li>
          <li role="presentation" class=""><a href="#usedTechnologies" aria-controls="usedTechnologies" role="tab" data-toggle="tab" aria-expanded="false">Used technologies</a></li>
          <li role="presentation" class=""><a href="#ide" aria-controls="ide" role="tab" data-toggle="tab">IDE</a></li>
          <li role="presentation" class=""><a href="#restaurantExampleClient" aria-controls="restaurantExampleClient" role="tab" data-toggle="tab" aria-expanded="true">Example</a></li>
        </ul>
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>