<div id="about" class="container-fluid">
  <div class="container">
    <div class="row" style="padding-top: 180px">
      <div class="col-md-7 col-sm-7 col-12 text-xs-center">
        <div class="markdown">
          <markdown [path]="'../../assets/content/OASP/about.md'"></markdown>
        </div>
      </div>
    </div>
    <div class="row" style="padding-bottom:200px">
      <div class="col-md-12 col-sm-12 col-12 text-xs-center">
        <!--Getting started-->
        <div [(ngModel)]="model" ngbRadioGroup name="radioBasic">
          <label class="btn btn-primary">
          <input type="radio" [value]="3"> Getting started
          </label>
        </div>
        <!--framework-->
        <div [(ngModel)]="model" ngbRadioGroup name="radioBasic">
          <label class="btn btn-primary-f">
          <input type="radio" [value]="3">Framework
          </label>
        </div>
      </div>
    </div>
  </div>
</div>
<app-framework></app-framework>
<app-tab-panel></app-tab-panel>
<app-used-technologies></app-used-technologies>
<app-getting-started></app-getting-started>
<app-try-it></app-try-it>
<app-devonfw></app-devonfw>
<app-collaboration-contribution></app-collaboration-contribution>
<app-slider></app-slider>
<app-university-activities></app-university-activities>
