<div class="container-fluid OASP">
  <div class="container">
    <div class="row" style="padding-top: 180px">
      <div class="col-lg-7 col-md-12 col-sm-7 col-12 text-xs-center">
        <div class="markdown">
          <markdown [path]="'../../assets/content/OASP/about.md'"></markdown>
        </div>
      </div>
    </div>
    <div class="row" style="padding-bottom:200px">
      <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-xs-center">
        <!--Getting started-->
        <a href="oasp#gettingstarted" class="btn btn-primary btn-dark">Getting started</a>
        <!--framework-->
        <a href="oasp#framework" class="btn btn-primary btn-white">Framework</a>
      </div>
    </div>
  </div>
</div>
<app-framework></app-framework>
<app-tab-panel></app-tab-panel>
<app-used-technologies></app-used-technologies>
<app-getting-started></app-getting-started>
<app-try-it></app-try-it>
<app-devonfw></app-devonfw>
<app-collaboration-contribution></app-collaboration-contribution>
<app-slider></app-slider>
<app-university-activities></app-university-activities>


