 @font-face{
     font-family: montserrat;
     src: url("../../assets/fonts/Montserrat-Regular.ttf")
 }
  @font-face{
     font-family: montserrat-light;
     src: url("../../assets/fonts/Montserrat-Light.ttf")
 }
 


#overview{
    background: url("../../assets/images/img_1.png") center center no-repeat ;
    background-color: #4bbdec;
    background-size: 110%;
}
.btn-primary{
 
    color: #FFFFFF;
    background-color: #222c38;
    border-radius: 72px;
    margin-top:15%;
    margin-bottom: 180%;
    padding-left: 26px;
    padding-right: 26px;
    padding-top:14px;
    padding-bottom: 16px;
    font-size: 12pt;
    }
.btn-primary-f{
 
    color: #FFFFFF;
    background-color: transparent;
    border-color: white;
    border-radius: 72px;
    margin-top:15%;
    margin-bottom: 70%;
    padding-left: 26px;
    padding-right: 26px;
    padding-top:14px;
    padding-bottom: 16px;
    }

 .btn-primary:hover{
    color:blue;
    background-color: black;

}

p{
    color: white;
    padding-right: 40px;
    font-size: 14pt;
    font-family: montserrat-light;
    font-weight: 100;
    line-height: 18pt;
}
h2{
    padding-top: 300px;
    color: white;
    font-family: montserrat;
    font-size: 24pt;
    line-height: 28pt;
    font-weight: 500;
}