.OASP {
  background: url("../../assets/images/img_1.png") center no-repeat;
  background-color: #4bbdec;
  background-size: cover;
}

.OASP .markdown p {
  color: white;
  font-size: 14pt;
  font-family: montserrat-light;
  font-style: normal;
  font-weight: 100;
  line-height: 18pt;
  padding: 20px 0px;
}

.OASP .markdown h2 {
  color: white;
  font-family: montserrat-Regular;
  font-size: 24pt;
  line-height: 28pt;
  font-weight: 500;
}

.OASP .markdown h2::after {
  display: none;
}

@media (max-width: 767px) {
  .text-xs-center {
    text-align: center;
  }
  .OASP {
    background: url("../../assets/images/img_1.png") center center no-repeat;
    background-color: #4bbdec;
    background-size: 500%;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .OASP {
    background-size: 160%;
  }
  .OASP p {
    text-align: center
  }
  .OASP h2 {
    text-align: center
  }
  .text-xs-center {
    text-align: center;
  }
  .OASP .markdown p {
    margin: 20px 0px;
  }
}
