<div class="container-fluid oasp4j-container">
  <div class="row">
    <!-- Sidebar -->
    <div class="col-lg-3 col-md-4 sidebar-left">
      <div class="sidebar-nav">
        <ul class="sidebar-nav-list">
          <li class="dropdown">
            <h3>UI Framework</h3>
            <a href="oasp4js#over-view">Material Design</a>
            <ul class="dropdown-submenu">
              <li><a href="#">Form Control</a></li>
              <li><a href="#">Button</a></li>
              <li><a href="#">SideNav</a></li>
              <li><a href="#">DataGrid</a></li>
            </ul>
            <!--
            <a href="oasp4js#over-view">Bootstrap</a>
            <ul class="dropdown-submenu">
              <li><a href="oasp4js#sample-application">Form Control</a></li>
              <li><a href="oasp4js#app-template">Button</a></li>
              <li><a href="oasp4js#ng-modules">SideNav</a></li>
              <li><a href="oasp4js#ng-modules">DataGrid</a></li>
            </ul>
            <a href="oasp4js#over-view">PrimeNG</a>
            <ul class="dropdown-submenu">
              <li><a href="oasp4js#sample-application">Form Control</a></li>
              <li><a href="oasp4js#app-template">Button</a></li>
              <li><a href="oasp4js#ng-modules">SideNav</a></li>
              <li><a href="oasp4js#ng-modules">DataGrid</a></li>
            </ul>
            <a href="oasp4js#over-view">Misc</a>
            <ul class="dropdown-submenu">
              <li><a href="oasp4js#sample-application">ngx-translate</a></li>
              <li><a href="oasp4js#app-template">ag-Grid</a></li>
            </ul>
            -->
        </ul>
      </div>
    </div>
    <!-- Sidebar -->

    <div class="hidden-sm-down col-lg-9 col-md-8 col-sm-7 col-12 content-roadmap">
      <div class="roadmap">
        <h1 class="road">Form Control</h1>
        <app-md-input></app-md-input>
      </div>
      <div class="roadmap">
        <h1 class="road">Button</h1>
        <app-button></app-button>
      </div>
      <div class="roadmap">
        <h1 class="road">SideNav</h1>
        <app-sidenav></app-sidenav>
      </div>
      <div class="roadmap">
        <h1 class="road">DataGrid</h1>
        <app-datagrid></app-datagrid>
      </div>
    </div>
  </div>
</div>
