<div class="container-fluid oasp4j-container">
  <div class="row">
    <!-- Sidebar -->
    <div class="col-lg-3 col-md-4 sidebar-left">
      <div class="sidebar-nav">
        <ul class="sidebar-nav-list">
          <li class="dropdown">
            <h3>UI Framework</h3>
            <a href="MaterialDesign#md-about">Material Design</a>
            <ul class="dropdown-submenu">
              <li><a href="MaterialDesign#md-about">About</a></li>
              <li><a href="MaterialDesign#md-form-control">Form Controls</a></li>
              <li><a href="MaterialDesign#md-button">Button</a></li>
              <li><a href="MaterialDesign#md-sidenav">SideNav</a></li>
              <li><a href="MaterialDesign#md-data-table">DataTable</a></li>
            </ul>            
        </ul>
      </div>
    </div>
    <!-- Sidebar -->

    <div class="hidden-sm-down col-lg-9 col-md-8 col-sm-7 col-12 content-roadmap">
      <div class="margin-at-top"></div>
      <div class="roadmap" id="md-about">
        <h1 class="road">About</h1>
        Material Design : Material Design is a specification for a unified system of visual, motion, and interaction design
        that adapts across different devices. Following page shows different components using Material Design guidelines.
      </div>
      <div class="roadmap" id="md-form-control">
        <h1 class="road">Form Controls</h1>
        <app-md-input></app-md-input>
      </div>
      <div class="roadmap" id="md-button">
        <h1 class="road">Button</h1>
        <app-button></app-button>
      </div>
      <div class="roadmap" id="md-sidenav">
        <h1 class="road">SideNav</h1>
        <app-sidenav></app-sidenav>
      </div>
      <div class="roadmap" id="md-data-table">
        <h1 class="road">DataTable</h1>
        <app-datatable></app-datatable>
      </div>
    </div>
  </div>
</div>
