/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: Montserrat-Regular;
  src: url("./assets/fonts/Montserrat-Regular.ttf")
}

@font-face {
  font-family: Montserrat-Bold;
  src: url("./assets/fonts/Montserrat-Bold.ttf")
}

@font-face {
  font-family: montserrat-light;
  src: url("./assets/fonts/Montserrat-Light.ttf")
}

@font-face {
  font-family: montserrat-Extralight;
  src: url("./assets/fonts/Montserrat-ExtraLight.ttf")
}

.navbar-light .navbar-toggler {
  border-color: transparent;
  outline: 0px none;
}

.navbar-light .navbar-toggler-icon {
  background-image: url('./assets/images/menu.svg');
  margin-top: 10px;
}

.btn-primary {
  color: #4bbdec;
  background-color: transparent;
  border-color: #4bbdec;
  border-radius: 72px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 14px;
  padding-bottom: 14px;
  border-radius: 72px;
  font-size: 12pt;
  border-width: 2px;
  font-family: Montserrat-Regular;
  cursor: pointer;
  margin-right: 10px;
}

.btn-primary:nth-last-of-type() {
  margin-right: 0px;
}

.btn-primary:hover,
.btn-primary:active,
.markdown a:hover,
.markdown a:active {
  color: #fff;
  background-color: #4bbdec;
  border-color: #4bbdec;
  text-decoration: none;
}

.btn-primary.btn-white {
  border-color: #FFFFFF;
  color: #FFFFFF;
}

.btn-primary.btn-white:hover {
  border-color: #FFFFFF;
  color: #4bbdec;
  background-color: #FFFFFF;
}

.btn-primary.btn-dark {
  border-color: #222c38;
  color: #FFFFFF;
  background-color: #222c38;
}

.btn-primary.btn-dark:hover {
  border-color: #11161c;
  color: rgba(255, 255, 255, .95);
  background-color: #11161c;
}

hr {
  width: 15%;
  background-color: #4bbdec;
  height: 3px;
}

.markdown h2 {
  color: #585657;
  font-family: Montserrat-Medium;
  font-size: 23pt;
  margin-top: 2em;
}

.markdown h2::after {
  content: "";
  display: block;
  position: relative;
  margin: 10px auto 0px;
  width: 15%;
  background-color: #4bbdec;
  height: 4px;
}

.markdown p {
  color: #9d9d9d;
  font-family: Montserrat-Regular;
  font-size: 12pt;
  font-style: italic;
  padding: 20px 0px;
}

.markdown a {
  color: #4bbdec;
  display: inline-block;
  width: auto;
  border: #4bbdec 2px solid;
  margin-bottom: 10px;
  margin-right: 10px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 14px;
  padding-bottom: 14px;
  border-radius: 72px !important;
  font-size: 12pt;
  border-width: 2px;
  font-family: Montserrat-Regular;
  font-style: normal;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.modal-header {
  background-color: #4bbdec;
}

.modal-header h4 {
  color: white;
}

.modal-body .markdown p {
  text-align: left;
  font-style: normal;
}

.modal-body .markdown li {
  text-align: left;
}

.modal-body .markdown a {
  text-align: center;
}

@media (max-width: 900px) {
  nav.navbar {
    background-color: #4bbdec!important;
  }
  .markdown a:last-of-type {
    margin-left: 0px;
    margin-bottom: 0px;
  }
  .markdown a {
    width: 250px;
    height: auto;
  }
}

@import '../src/app/oasp/oasp.component.css';
@import '../src/app/try-it/try-it.component.css';
@import '../src/app/oasp4-js/oasp4-js.component.css';
@import '../src/app/tab-panel/tab-panel.component.css';
