<md-card>
    <h2 class="example-h2">Dropdown</h2>
    <div class="margin-at-top"></div>
    <section class="example-section">
      <form>
        <md-select placeholder="Favorite food" [(ngModel)]="selectedValue" name="food">
          <md-option *ngFor="let food of foods" [value]="food.value">
            {{food.viewValue}}
          </md-option>
        </md-select>
        <div class="margin-at-top"></div>
        <p> Selected value: {{selectedValue}} </p>
    </form>
  </section>
</md-card>



<!-- Copyright 2017 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->
